html {
  background-color: 33658A;
  background-image: url(images/IMG_2364.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
body {
  font-family: Futura, sans-serif;
  background-color: 33658A;
  width: 60%;
  padding: 20px;
  margin-left: 40px;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1 {
  font-family: Futura, sans-serif;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 50px;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  border-bottom: 3px solid black;
}
img {
  margin-left: 25%;
  margin-right: auto;
  border-radius: 20px;
  width: 50%;
  border-right: 5px solid black;
  border-left: 5px solid black;
}
p, h3 {
  text-align: center;
}
h5 {
  text-align: center;
}
.list {
  color: black;
  background-color: #86BBD8;
  font-size: 15px;
	list-style-type: circle;
  border: none;
	border-left: solid black 8px;
  padding: 20px;
}
.list li {
  padding: 10px;
  margin-left: 20px;
}
.active {
	background-color: black;
	color: #86BBD8;
}
.block {
  margin: 20px;
  padding: 20px;
  background-color: #86BBD8;
  border: 2px solid black;
  text-align: center;
}
.nav {
  font-family: Futura, sans-serif;
}
.main {
  font-family: Futura, sans-serif;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
.chapter {
  padding: 0px;
	font-family: Futura, sans-serif;
	position: fixed;
	text-align: center;
	border: none;
	margin-left: 65%;
  margin-right: auto;
	width: 150px;
  float: none;
}
.chapter h3 {
  text-align: center;
}
.sideBlock {
  text-align: center;
	font-family: Futura, sans-serif;
  padding: 20px;
	position: fixed;
	margin-left: 65%;
  margin-right: auto;
	width: 300px;
  float: none;
  background-color: #86BBD8;
  padding-top: 4%;
  padding-bottom: 4%;
  border: 2px solid black;
}
ul {
  font-size: 15px;
	list-style-type: none;
	overflow: hidden;
	background-color: #86BBD8;
	border: none;
  border-radius: 20px;
}

.nav li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: black;
	color: #86BBD8;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #86BBD8;
}

#mainwrapper .box .simple-caption {
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
    color: 33658A;
}

#mainwrapper .box:hover .simple-caption {
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
}